@import "app.scss";
body{
    background-color: lighten( black, 20%);
}

.title-container {
    
    @include media-breakpoint-up(lg) {
        margin: 0px auto 100px auto;
    }
    margin: 0px auto 50px auto;
}

.cv-container {

    
    padding-top: 30px;
    background-color: white;
    @include media-breakpoint-up(lg) {
        
        border-radius: 3px;
        box-shadow: 10px 10px 20px;
        margin: 10px auto;
    }

}

.cat-title{
    margin-top: 50px;
}

.category dd{
    font-style: italic;
    margin-bottom: 20px;
}

#presentation .item{
    margin-bottom: 20px;;
}

.social a{
    opacity: 0.5;
    transition: opacity 0.5s;
    &:hover{
        opacity: 1;
    }
}

#btn-email{
    transition: background-color 0.5s;
}