@import "~bootstrap/scss/bootstrap";

.title-container {
    
    @include media-breakpoint-up(md) {
        margin: 30px auto 100px auto;
    }
    margin: 30px auto 50px auto;
}

.cv-container {

    @include media-breakpoint-up(md) {
        border: 1px solid black;
        border-radius: 3px;
        box-shadow: 2px 2px 3px;
    }

}

.cat-title{
    margin-top: 50px;
}

.category dd{
    font-style: italic;
    margin-bottom: 20px;
}