<!DOCTYPE html>
<html lang="fr">
    <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180568389-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-180568389-1');
        </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <noscript>
            <div class="alert alert-danger text-center">
                Javascript n'est pas activé sur votre navigateur<br>
                Veuillez l'activer afin de pouvoir utiliser le site convenablement<br>
                Cliquez <a href="https://www.enablejavascript.io/fr" target="_blank">ici</a> pour plus d'information sur la procédure d'activation de Javascript
            </div>
        </noscript>
        {% block body %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
