<div class="container">
    <h1 class="text-center">Formulaire de contact</h1>
    <div id="form-container">
        {{ form(form) }}
    </div>
</div>
<script src="https://www.google.com/recaptcha/api.js"></script>